
/******************************* GENERAL CSS *******************************/
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

body,html {
  margin: 0;
  font-family: 'Lato', sans-serif;

  background-color: #ddd; /* light grey*/
}


.main {
   padding-bottom: 16px;
  margin-bottom: 39px;
  margin-top: 39px;
  padding-top: 16px;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}
.container {
  padding-bottom: 16px;
  margin-bottom: 39px;
  margin-top: 39px;
  padding-top: 16px;
  background-color: #333; /* dark grey*/
}

.row {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}

div.inline { float:left; }
.clearBoth { clear:both; }


.roundedcard{
  background-color: #ddd;/*light grey*/
  border-radius: 5px;
  margin: 25px;
}

.roundedgroupcard{
  border: 1px solid #333;
  background-color: #aaa;/*light grey*/
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}









/******************************* MAIN CONTENT *******************************/


