
/******************************* GENERAL CSS *******************************/
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.container {
  padding: 16px;
  margin-bottom: 37px;
  margin-top: 0px;
  background-color: grey;
}

.row {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}


.centers {
    width: 0px;
    margin: auto;
}

.bordersred{
  border: red solid 1px;
  padding: 0;
  margin: 0;
}

.bordersyellow{
  border: yellow solid 1px;
  padding: 0;
  margin: 0;
}






/******************************* BOTTOM BAR *******************************/


.bottomnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bottomnav a:hover {
  background: #f1f1f1;
  color: black;
}

.bottomnav a.active {
  background-color: #4CAF50;
  color: white;
}





/******************************* TOP BAR *******************************/
.topbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width: 100%;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button {
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #ddd; /* grey */
  color: black;
}
.button:focus {
  outline:0;

}

.blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;

  color:red;
  border: red solid 1px;
  padding: 0;
  margin: 0;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}





/******************************* SNACK BAR *******************************/

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}







